{% extends 'base.html' %} }

{% load static %}
{% block content %}
    <div class="card mb-3" style="max-width: 90%;">
  <div class="row g-0">
    <div class="col-md-4" style="height: 32vw">
      <img src={{ MEDIA_URL }}{{ detail_item.image }} class="img-fluid" alt="..." style="height:100%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title"> {{ detail_item.name }}</h2>
        <h5> Description: </h5> <p class="card-text">{{ detail_item.description }}</p>
       <p class="card-text"><h5>Price: {{ detail_item.price }} $</h5> </p>
          {% if itemcart %}
            <p><i class="bi bi-cart-check" style="font-size: xxx-large"></i> </p>
           <div class="input-group" style="width: 200px;">
          <span class="input-group-btn">
               <form action="{% url 'detail_item' detail_item.pk %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="{{ form.quantiyt_item.name }}" value="{{ itemcart|add:-1 }}">
                   <button class="btn btn-primary " style="margin-right: 25px" type="submit" value="Add to the cart"  ><i class="bi bi-dash-circle" style="font-size: x-large"></i></button>
                  </form>
          </span>
          <input type="text" name="quant[1]" class="form-control input-number" value="{{ itemcart }}" min="1" max="50">
          <span class="input-group-btn">
              <form action="{% url 'detail_item' detail_item.pk %}" method="post">
                    {% csrf_token %}

                  <input type="hidden" name="{{ form.quantiyt_item.name }}" value="{{ itemcart|add:1 }}">
                   <button class="btn btn-primary ms-4" type="submit"
                           value="Add to the cart"  ><i class="bi bi-plus-circle" style="font-size: x-large"></i></button>
                  </form>

          </span>
      </div>

      </div>
              {% else %}
       <form action="{% url 'detail_item' detail_item.pk %}" method="post">
           {% csrf_token %}
           <input class="btn btn-primary ms-4" type="submit" value="Add to the cart"  >
       </form>

         {% endif %}





    {% if user.is_authenticated and exists == False and existsOrder == True %}

         <a href="{% url 'comment_create' detail_item.pk %}"><button class="btn btn-light" style="margin-bottom: 30px; margin-top: 20px;float: right">Write a cutomer review</button></a>

    {% endif %}
   {% if comments %}
        <h1 style="margin-top: 25px;margin-bottom: 10px">Customer reviews:</h1>
    <ol class="list-group ">
        {% for c in comments %}
      <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto" style="width: 100%">
          <div class="fw-bold" >Customer: {{ c.customer}}</div>
                Comment: {{ c.description }}
            {% if user.is_authenticated and user.pk == c.customer.pk %}
                <a href="{% url 'comment_delete' detail_item.pk c.pk %}" style="float: right;margin-left: 2px"><button class="btn btn-danger ">Delete</button></a>
                <a href="{% url 'comment_update' detail_item.pk c.pk %}" style="float: right"><button class="btn btn-info">Change comment</button></a>
            {% endif %}
        </div>
      </li>
        {% endfor %}
    </ol>

    {% endif %}

    </div>
    </div>
</div>
{% endblock %}



