{% extends 'base.html' %} }
{% load static %}
{% block content %}
<div style="text-align: center;padding-top: 1vw">
<div style="float: left;">
<h3>Category : {{ nameCategory }}</h3>
</div>
<ul class="nav justify-content-center" style="margin-top: 50px">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href={% url 'shop' %}>All Category </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'shopCategoria' 1 %}>Computer</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'shopCategoria' 2 %}>Kitchen</a>
  </li>
</ul>
    {% for item in list_items %}
        <div class="card mt-2 ms-4" style="width: 18rem; display: inline-flex;height: 26vw">
         <a href="{% url 'detail_item' item.pk%}">
            <img  src={{ MEDIA_URL }}{{ item.image }} class="card-img-top" style="height: 15vw" > </a>
         <div class="card-body" style="text-align: left">
      <a href="{% url 'detail_item' item.pk%}" class="link-offset-2 link-underline link-underline-opacity-0" style="text-decoration: none;color: black;}"> <h6 class="card-title" style=":hover {color: blue}:visited {color: cornflowerblue}" >{{ item.name }}</h6> </a>
      <h5 style="left: 0">Price: {{ item.price }} $</h5>

  </div>
    </div>
     {% endfor %}
</div>
{% endblock %}
