{% extends 'base.html' %} }
{% load static %}
{% block content %}
<div style="text-align: center;padding-top: 5vw">
<div style="float: left;">
<h3>Sei nella categoria : {{ nameCategory }}</h3>
</div>
<ul class="nav justify-content-center" style="margin-top: 50px">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href={% url 'shop' %}>All Item </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'shopCategoria' 1 %}>Informatica</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href={% url 'shopCategoria' 2 %}>Cucina</a>
  </li>

</ul>
    {% for item in list_items %}
        <div class="card mt-2 ms-4" style="width: 18rem; display: inline-flex">
            <img src={{ MEDIA_URL }}{{ item.image }} class="card-img-top" style="height: 15vw" >
  <div class="card-body" style="float: left">
    <h5 class="card-title" >{{ item.name }}</h5>
    <p class="card-text" >{{ item.description }}</p>
      <p class="card-text">Il prezzo è :{{ item.price }}</p>
      <p class="card-text">Disponibili : {{ item.quantityAvailable }}</p>

    <a href="{% url 'detail_item' item.pk%}" class="btn btn-primary">View detail </a>



  </div>
    </div>
     {% endfor %}
</div>
{% endblock %}
