{% extends 'base.html'%} }

{% load static %}
{% block content %}
{% for info in list_itemsOrder|slice:":1" %}
    <h1> Your Order number is : {{ info.order.pk }}</h1>
    <h3>Tot paid: {{   info.order.totpay }} </h3>


{% endfor %}
 {% for info_item in list_itemsOrder %}

        <div class="card mt-2 ms-4" style="width: 18rem; display: inline-flex;height: 26vw">
         <a href="{% url 'detail_item' info_item.item.pk%}">
            <img  src={{ MEDIA_URL }}{{ info_item.item.image }} class="card-img-top" style="height: 15vw" > </a>
  <div class="card-body" style="text-align: left">
      <a href="{% url 'detail_item' info_item.item.pk%}" class="link-offset-2 link-underline link-underline-opacity-0" style="text-decoration: none;color: black;}"> <h6 class="card-title" style=":hover {color: blue}:visited {color: cornflowerblue}" >{{ info_item.item.name }}</h6> </a>
      <h5>Quantity buyied: {{ info_item.quantity }}</h5>
      <h5 style="left: 0">Price: {{ info_item.item.price }} $</h5>

  </div>
    </div>
     {% endfor %}
{% endblock %}
